.download-pub-btn{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.btn-path{
    stroke: #24b492;
}

.view-abstract-btn-img{
    height: 25px;
    width: 25px;
    cursor: pointer;
}

.download-btn-img{
    height: 30px;
    width: 30px;
    cursor: pointer;
}