.sideNav-container{
    height: 35px;
    width: 100%;
    position: sticky;
    background-color: #252525;
    color: white;
}

.sideNav-elements-container{
    display: flex;
    flex-direction: row;
    height: 35px;
    justify-content: space-between;
}

.sideNav-elements{
    display: flex;
    flex-direction: row;
    height: 35px;
}

.sideNav-element{
    padding-top: 7px;
    padding-left: 25px;
    padding-right: 25px;
}

.sideNav-element:hover{
    background-color: #3b3b3b;
    cursor: pointer;
}

.add-pub-btn-container{
    display: flex;
    height: 35px;
}

.add-pub-btn{
    padding-top: 7px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #186f5b;
}

.add-pub-btn:hover{
    background-color: #186f5b;
    cursor: pointer;
}