.popup-displayer{
    display: flex;
    justify-content: flex-end;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 300;
}

.popup-close{
    position: absolute;
    display: flex;
    justify-content: flex-end;
    z-index: 301;
    margin-right: 20px;
    margin-top: 20px;
    font-size: 30px;
    /* background-color: #186f5b; */
    /* color: white; */
    color: black;
    padding-right: 10px;
    padding-left: 10px;
    cursor: pointer;
    font-weight: 200;
}

.popup-close:hover{
    font-weight: 400;
}

.custom-popup-body{
    background-color: white;
    height: 100%;
    width: 55rem;
}

.popup-open-animation{
    transform: translateX(55rem);
    animation: moveLeft 0.5s forwards;
}

.popup-close-animation{
    transform: translateX(0);
    animation: moveRight 0.5s forwards;
}

@keyframes moveRight {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(55rem); /* Moves the div across the entire viewport width */
    }
}

@keyframes moveLeft {
    from {
        transform: translateX(55rem);
    }
    to {
        transform: translateX(0); /* Moves the div across the entire viewport width */
    }
}