.custom-toast-success{
    background: #07bc0c;
  }
  
.custom-toast-error{
  white-space: pre-wrap;
    background: #e74c3c;
}

.custom-toast-inProgress{
  white-space: pre-wrap;
    background: #f5be18;
}

.Toastify__toast-body{
  white-space: pre-wrap;
}