.forgot-password-header{
    font-size: 1.7rem;
    font-weight: 400;
    margin-bottom: 30px;
}

.back-to-login-btn{
    cursor: pointer;
    color: rgb(4, 87, 147);
    border: none;
    font-size: 1rem;
    font-weight: 500;
    margin-right: 5px;
    margin-top: 15px;
}